<!DOCTYPE html>
<!-- <html itemtype="http://schema.org/WebPage" itemscope="" manifest="/manifest.appcache"> -->
<html itemtype="http://schema.org/WebPage" itemscope="" lang="{{ language }}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Cache-Control" content="max-age=31622400,public">
	<!-- Prefetch -->
	<meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="dns-prefetch" href="{{ prefetch }}">
	<!-- Preload -->
	<link rel="preload" href="{{ script }}" as="script">
	<!-- Indexing -->
	{{!--
	<meta name="google">
	<meta name="googlebot">
	<meta name="robots" content="NOODP,NOYDIR">
	--}}
	<!-- Description -->
	<meta name="author" content="{{ author }}">
	<meta name="keywords" content="{{ keywords }}">
	<meta name="description" content="{{ description }}">
	<meta itemprop="name" content="{{ title }}">
	<meta itemprop="description" content="{{ description }}">
	<meta itemprop="image" content="{{ image }}">
	<!-- Canonical -->
	<link rel="canonical" href="{{ canonical }}">
	<!-- Title -->
	<title>{{ title }}</title>
	<!-- Viewport -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" href="{{ stylesheet }}">
</head>
<body lang="{{ locale }}" dir="ltr">

	<main class="main">
		{{> notice }}
		{{> header }}
		{{> nav 
			modifiers = "nav--stickyNOPE"
		}}
		{{> text 
			title = "Personal Statement"
			text = "
			<p>
			Full-stack web developer located in Glasgow, UK. 
			I like to build well structured, maintainable websites and 
			that’s what I have been up to for the past four years. 
			Passionate about improvement, I am always eager to learn new 
			technologies and hone my understanding of current ones. A quality 
			company, that promotes personal progression and delivering great work, 
			supports and values both its clients and employees would be a great fit for me.
			</p>
			"
			modifiers = "section--brand1 section--shadow"
		}}
		{{> see-through }}
		{{> skills 
			modifiers = "section--brand2 section--shadow"
		}}
		{{> see-through }}
		{{> timeline--work 
			modifiers = "section--brand2"
		}}
		{{> timeline--education 
			modifiers = "section--brand4 section--shadow"
		}}
		{{> see-through }}
		{{> usp--self-study  
			modifiers = "section--brand4"
		}}
		{{> usp--interests 
			modifiers = "section--default section--shadow"
		}}
		{{> footer }}
	</main>

	<script src="{{ script }}" defer></script>
	<script src="https://www.youtube.com/iframe_api" defer async></script>
</body>

</html>