{{!-- Uses skills.scss styles --}}
<li class="skill-item {{modifiers}}"> 

    <button class="skill-item__title" style="background-image: linear-gradient(135deg, transparent {{ percentage }}, #3A3335 {{ percentage }})">
            {{{ title }}}
    </button>

    <div class="skill-item__description">
        {{{ description }}}
    </div>
    
</li>
