<li class="timeline-item {{modifiers}}">
    <div class="timeline-item__container">

        <div class="timeline-item__head">
            <div class="timeline-item__period">
                <time {{#if startdate-dt}} datetime="{{ startdate-dt }}" {{/if}}>
                {{ startdate }}
                </time>
                - 
                {{#if enddate}}
                <time {{#if enddate-dt}} datetime="{{ enddate-dt }}" {{/if}}>
                    {{ enddate }}
                </time>
                {{else}}
                Current
                {{/if}}
            </div>
            <h2 class="h4 timeline-item__title">{{ title }}</h2> 
            <h3 class="timeline-item__subtitle">{{ subtitle }}</h3>
            
        </div>

        {{#if skills}}
        <div class="timeline-item__skills">
            {{{ skills }}}
        </div>
        {{/if}}

        {{#if description}}
        <div class="timeline-item__description">
            {{{ description }}}
        </div>
        {{/if}} 

        {{#if awards}}
        <div class="timeline-item__awards">
            <h4 class="h5 timeline-item__awards-heading">Awards</h4>
            {{{ awards }}}
        </div>
        {{/if}}

        {{#if highlights}}
        <div class="timeline-item__highlights">
            <h4 class="h5 timeline-item__highlights-heading">Highlights</h4>
            {{{ highlights }}}
        </div>
        {{/if}}
    
    </div>
</li>